---
title: Aki's Blog
layout: default
---
<div id="content">
  <div class="row title">
      <div class="span8 offset2">
        <p>
          <a href="http://feeds.feedburner.com/akisaarinen"><img src="/assets/img/feed-icon-14x14.png"> Posts as RSS feed</a>.
          Also available at the <a href="/blog-archive">archive</a>.
        </p>
      </div>
  </div>
  {% for post in site.posts %}
  <div class="row title">
    <h2 class="span2">{{ post.date | date: "%b %d, %Y" }}</h2>
    <h2 class="span8 title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  </div>
  <section class="row blog">
    <div class="span8 offset2">
    {{ post.content }}
    </div>
  </section>
  {% if post.previous %}
  <div class="row"><div class="span9 offset1 hr"></div></div>
  {% endif %}
  {% endfor %}
</div>
