@media (max-width: 767px) {
  header, footer {
    margin-left: -20px;
    padding-left: 20px;
    margin-right: -20px;
    padding-right: 20px;
  }
  #content section {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #content h2 {
    text-align: left;
    margin: 15px 0;
  }
}
@media (min-width: 1200px) {
  .navbar .container { width: 1170px; }
}
@media (max-width: 979px) {
  .navbar { display: none; }
}
