.content, .content p, footer {
  font-family: Georgia, "Times New Roman";
  font-size: 18px;
  line-height: 22px;
  color: #444;

  a, a:visited {
      text-decoration: none;
      color: #4183C4;
  }
  a:hover {
      text-decoration: underline;
  }
}

header, #rightpane .pane {
  font-family:      Signika;
  font-weight:      300;  
}

#rightpane .pane {
  margin-top: 30px;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #666;

  h1 {
    margin: 50px 0 20px 0;
  }

  span.first {
    color: #999;
    font-weight: 400;
  }
  span.last {
    color: #444;
    font-weight: 700;
  }
  .social {
    padding: 15px 0;
    font-size: 25px;
    a { 
      color:           #888;
      text-decoration: none;
    }
  }
}

header {
  font-size:  24px;
  color:      #444;
  margin:     50px 0 20px 0;
  padding:    30px 0;

  h1 span {
    font-size: 48px;
  }
  span.first {
    color: #999;
    font-weight: 400;
  }
  span.last {
    color: #3e3e3e;
    font-weight: 700;
  }  

  a, a:visited, a:hover { 
    color: #444; 
    text-decoration: none;
  }

  #navi {
    ul {
      margin:  10px 0 0 0;
      padding: 0;
    }
    li {
      display:      inline;
      margin-right: 12px;
    }
  }

  #social {
    padding-top: 15px;
    text-align: right;
    font-size: 25px;
  }
}


footer {
  text-align: center;
  padding: 0;
  margin: 20px 0 20px 0;
  .container {
    color: #888;
    font-size: 12px;
  }
}

#content {
  .rss {
    margin-top: 30px;
    font-size: 20px;
  }
  
  section {
    padding-top: 55px;
    padding-bottom: 45px;
  }
  section.blog {
    padding: 10px 0;
  }
  .back {
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
  }
  .tags {
    display: block;
    font-size: 12px;
  }
  p {
    margin: 0 0 20px 0;
  }
  h2 {
    font-family:    Signika;
    font-size:      40px;
    font-weight:    400;
    margin:         40px 0 40px 0;
    line-height:    50px;
  }
  h3 {
    margin: 0 0 20px 0;
    color:  #666;
  }
  h4 {
    font: bold 20px Georgia;
    margin: 20px 0;
  }

  span.date {
    float: right;
    color: #888;
  }

  div.title {
    margin-top: 30px;
  }

  ul { 
    margin-top: 10px;
    margin-bottom: 19px;
  }
  ul li {
    padding-top: 5px;
  }
  ul.spaced-list li {
    padding-top: 15px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  pre {
    font-size: 13px;
    padding-left: 30px;
    margin: 0 0 20px 0;
  }

  .hr {
    border-bottom: 1px solid #ccc;
  }
  blockquote {
    margin: 2em 20px;
    padding-top: 7px;
    padding-left: 55px;
    padding-right: 20px;
    border: 0;
    background: transparent url(/assets/img/quote.gif) no-repeat;
    min-height: 41px;
  }
  blockquote p {
    font-size: 20px;
    line-height: 28px;
  }

  .end-of-post {
    border-top:    1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 20px 0;
    margin: 20px 0;
  }
}