@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/assets/fonts/BebasNeue-webfont.eot');
    src: url('/assets/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/assets/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/assets/fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('/assets/fonts/chunk-webfont.eot');
    src: url('/assets/fonts/chunk-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/chunk-webfont.woff') format('woff'),
         url('/assets/fonts/chunk-webfont.ttf') format('truetype'),
         url('/assets/fonts/chunk-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, .container, p {
    color: #444;
    font-family: Georgia, "Times New Roman";
    font-size: 18px;
    line-height: 22px;
}

a, a:visited {
    text-decoration: none;
    color: #4183C4;
}

a:hover {
    text-decoration: underline;
}

header {
  background-color: #444;
  height: 160px;

 #about {
    padding-top: 15px;
  }

  #title-picture {
      height: 100px;
      padding-top: 14px;
      margin-right: 0;
      float: right;
  }
 
  h1 span.greeting {
      display: block;
      margin: 0;
      font: normal 22px ChunkFiveRegular, Rockwell, serif;
      padding-top: 15px;
      color: #fd5a24;
      text-shadow: 4px 4px 0px #000;
  }

  h1 span.name {
      display: block;
      margin: 0;
      padding-top: 0px;
      padding-left: 0px;
      font: normal 50px BebasNeueRegular;
      color: white;
      text-shadow: 4px 4px 0px #000;
  }
}

footer {
  background-color: #DDD;
  text-align: center;
  padding: 40px 0 40px 0;
  margin: 40px 0 0 0;
  .container {
    color: #888;
    font-size: 12px;
  }
}

#content {
  #work img {
    margin-bottom: 10px;
  }
  #valo-logo {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  #reaktor-logo {
    margin-left: 15px;
    margin-bottom: 5px;
    float: right;
  }
  #aalto-logo {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  #imagesoft-logo {
    float: right;
    margin-left: 15px;
    margin-bottom: 5px;
  }
  section {
    padding-top: 55px;
    padding-bottom: 45px;
  }
  section.blog {
    padding: 10px 0;
  }
  .back {
    padding: 10px 0;
    font-size: 20px;
    font-weight: bold;
  }
  p {
    margin: 0 0 20px 0;
  }
  h2, h3 {
    font: normal 25px BebasNeueRegular, Helvetica, Arial, serif;
    color: #d34e23;
    text-align: right;
  }
  h4 {
    font: bold 20px Georgia;
    margin: 20px 0;
  }
  h2.title {
    font: bold 25px Georgia;
    color: #444;
    text-align: left;
  }
  div.title {
    margin-top: 30px;
  }
  ul { 
    margin-top: 10px;
  }
  ul li {
    padding-top: 5px;
  }
  ul.spaced-list li {
    padding-top: 15px;
    padding-right: 20px;
    font-size: 16px;
    line-height: 20px;
  }
  pre {
    font-size: 13px;
    padding-left: 30px;
    margin: 0 0 20px 0;
  }
  table.phototable {
    font-size: 13px;
    border-spacing: 10px 10px;
    margin: 0 0 20px 0;
  }

  table.phototable td {
    border: 1px dotted #888;
    padding: 10px;
    margin: 30px;
  }
  .hr {
    border-bottom: 1px solid #ccc;
  }
}
