---
layout: base
---
<header>
	<div class="container">
	  <div class="row">
	    <h1 class="span6 offset2">
	      <span class="first">aki</span><span class="last">saarinen</span>
	    </h1>            
	  </div>
	  <div class="row"><div class="span5 offset2" id="navi">
	    <ul>
	      <li class="{% if page.title == 'About' %}active{% endif %}"><a href="/">about</a></li>
	      <li class="{% if page.title == 'Blog' %}active{% endif %}"><a href="/blog">blog</a></li>
	      <li class="{% if page.title == 'Projects' %}active{% endif %}"><a href="/projects">projects</a></li>
	    </ul>
	    </div> 
	    <div id="social" class="span3">
	      <a class="ss-rss" href="http://feeds.feedburner.com/akisaarinen"></a>
	      <a class="ss-twitter" href="https://twitter.com/akisaarinen"></a>
	      <a class="ss-octocat" href="https://github.com/akisaarinen"></a>
	      <a class="ss-linkedin" href="https://www.linkedin.com/in/akisaarinen"></a>
	    </div>            
	  </div></div>
	</div>
</header>
<div class="container content">
{{ content }}
</div>  
