---
layout: default
---
<div id="content">
  <div class="row title">
    <h2 class="span2">{{ page.date | date: "%b %d, %Y" }}</h2>
    <h2 class="span8 title">{{ page.title }}</h2>
  </div>
  <section class="row blog">
    <div class="span8 offset2">
    {{ content }}
    </div>
  </section>
  <div class="row">
    <div class="span8 offset2 back">
      <a href="/blog/">Back to blog</a>
    </div>
  </div>
  <div class="row">
    <div class="span8 offset2">
      <div id="disqus_thread"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var disqus_shortname = 'akisaarinen';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
